body {
  display: grid;
}

@media (min-width: 60rem) {
  body {
    grid-template-columns: 500px 1fr;
    grid-template-rows: 1fr;
    max-height: 100vh;
  }

  main {
    border-right: var(--bit-border-width) solid var(--bit-color0);
  }

  main,
  aside {
    overflow-y: scroll;
  }

  .arrow-ul {
    display: inline-block;
    transform: rotate(-90deg);
  }
}

.bit-auto,
.bit-root {
  --bit-color0: #333;
  --bit-color1: #fafafa;
}

@media (prefers-color-scheme: dark) {
  .bit-auto,
  .bit-root {
    --bit-color0: #ccc;
    --bit-color1: #222;
  }
}

fieldset {
  border: var(--bit-border-width) solid var(--bit-color0);
  padding: 1rem;
  padding-top: 0.5rem;
  margin: 0;
}

legend {
  padding: 0 0.5rem;
  margin: 0;
}

.resize-none {
  resize: none;
}

.arrow-ul {
  font-weight: bold;
}
