body {
  display: grid;
  color-scheme: dark;
}

* {
  box-sizing: border-box;
  overscroll-behavior: contain;
}

cc-form,
cc-textarea-resizer {
  display: contents;
}

cc-form-output,
cc-form-output-item {
  display: block;
}

cc-form-output-item {
  color: var(--foreground);
  background: var(--background);
}

@media (min-width: 60rem) {
  body {
    grid-template-columns: 500px 1fr;
    grid-template-rows: 1fr;
    max-height: 100vh;
  }

  main {
    border-right: 1px solid var(--candy-color-border3);
  }

  main,
  aside {
    overflow-y: scroll;
  }

  .arrow-ul {
    display: inline-block;
    transform: rotate(-90deg);
  }
}

.candy-root {
  --candy-color-background1: hsl(0 0% 10%);
  --candy-color-background2: hsl(0 0% 26%);
  --candy-color-background3: hsl(0 0% 22%);
  --candy-color-background4: hsl(0 0% 20%);
  --candy-color-text1: hsl(0 0% 95%);
  --candy-color-text2: hsl(0 0% 75%);
  --candy-color-border1: hsl(0 0% 60%);
  --candy-color-border2: hsl(0 0% 40%);
  --candy-color-border3: hsl(0 0% 30%);
  --candy-color-accent-background1: hsl(0 0% 95%);
  --candy-color-accent-background2: hsl(0 0% 85%);
  --candy-color-accent-border1: hsl(0 0% 100%);
  --candy-color-accent-text1: hsl(0 0% 15%);
  --candy-color-shadow1: hsl(0 0% 5% / 20%);
}

.round {
  border-radius: var(--candy-border-radius);
}

.b--candy-shadow {
  border-color: var(--candy-color-border3);
}

.resize-none {
  resize: none;
}

.arrow-ul {
  font-weight: bold;
}

.candy-table:where(#wcag-levels) tr > :where(:nth-child(2), :nth-child(3)) {
  text-align: right;
}
